################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/ProjectEvaluation/projectspotifybackend.metadata.v9.bin
/.vs/ProjectEvaluation/projectspotifybackend.projects.v9.bin
/.vs/projectSpotifyBackend/CopilotIndices/17.12.38.29086/CodeChunks.db
/.vs/projectSpotifyBackend/CopilotIndices/17.12.38.29086/CodeChunks.db-shm
/.vs/projectSpotifyBackend/CopilotIndices/17.12.38.29086/CodeChunks.db-wal
/.vs/projectSpotifyBackend/CopilotIndices/17.12.38.29086/SemanticSymbols.db-shm
/.vs/projectSpotifyBackend/CopilotIndices/17.12.38.29086/SemanticSymbols.db-wal
/.vs/projectSpotifyBackend/DesignTimeBuild/.dtbcache.v2
/.vs/projectSpotifyBackend/v17/DocumentLayout.json
/.vs/projectSpotifyBackend/v17/DocumentLayout.backup.json
/.vs/projectSpotifyBackend/v17/.suo
/bin/Debug/net9.0/projectSpotifyBackend.dll
/bin/Debug/net9.0/projectSpotifyBackend.exe
/bin/Debug/net9.0/projectSpotifyBackend.pdb
/obj/Debug/net9.0/ref/projectSpotifyBackend.dll
/obj/Debug/net9.0/refint/projectSpotifyBackend.dll
